.page{
    background: #ffffff;
    margin-bottom: 3.2rem;
    padding: 3.2rem 0;
    text-align: center;
}

.dash-success{
    border-radius: 20px !important;
}

.d-flex{
    padding-top: 20px;
}

.pos{
    width: 300px !important;
    margin-left: 10px;
}
.h4{
    font-weight: bold;
    font-size:x-large !important;
}