.page{
    background: #f7f7f7;
    text-align: center;
    padding-top: 02px !important;
    
}
.btn-primary{
    text-align: center !important;
    margin-left: 125px  !important;
    background-color: #3bb19b !important;
    border-color:#3bb19b !important
}

.place{
    background: #ffffff;
    width:600px !important;
    height: 460px !important;
    padding-left: 50px;
    margin-top: 0px !important;
    margin-left: 350px  !important;
    position: absolute;
}
.position{
    width: 300px !important;
}

.des{
    background-color: #161817 !important;
    border-color: #3bb19b !important;
}

.set-center{
    text-align: center;
}

