.navbar-success {
    margin-right: 20px;
    border-radius: 20px !important;
    background-color: #2f2f2f !important;
    border-color: white !important;
    color: white !important;


}
.navbar-success:hover {
    background-color: white !important;
    color: #2f2f2f!important;    
}


