#center {  
  text-align: center !important;
  padding: 90px 50px;
  }

.page{
  background-color: #ffffff !important;
}
.img{
  border-radius: 0.5% !important;
  /* box-shadow: '5px 6px 6px 2px #e9ecef' !important; */
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.f1{
  font-weight: bold !important ;
  font-size:larger !important;
}
