#center {  
  text-align: center !important;
  padding: 90px 50px;
  }

.page{
  background-color: #ffffff !important;
}
.img{
  border-radius: 0.5% !important;
  box-shadow: '5px 6px 6px 2px #e9ecef' !important;
}
