.posR3{
    margin-bottom: "190px";
    box-shadow: "5px 6px 6px 2px #e9ecef" !important;
    border-radius: 20 !important;
    background-color: #6ECEBC !important;
    font-weight: "bold" !important;
    text-align: center;
}

.thisError{
    color:green;
}

.ticket-status{
    color: green;

}
.a12{
    color: #005fdf;
}

.div-main{
    padding-top:50px;
    margin-bottom: 60px;
}